<section class="container">
  <h1 id="productTitle">Produtos</h1>

  <div *ngFor="let product of products">
    <h3>
      {{ product.name }}
  </h3>
  </div>

  <section>
    <div>
      <div id="photos">
        <img src="images/6225d5d4-02da-42d7-900d-9c76a9a9fca7.jpg">
        <img src="images/7c628cce-5278-45e2-a016-f13ee35ad820.jpg">
        <img src="images/102ab042-d807-4cb2-8bf7-0f464972c278.jpg">
        <img src="images/83a43766-53dc-406c-b616-0c1d5548fdd1.jpg">
        <img src="images/660ccfcc-2dc0-46ca-9bc6-11ef1e1a11c0.jpg">
      </div>
    </div>

</section>
