<header>

</header>

<h1>Produtos</h1>

<div *ngFor="let product of products" class="produto" id="product">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p class="word" *ngIf="product.description">{{ product.description }}</p>

  <div>
    <img [src]="product.imagePath">
  </div>


  <button type="button" (click)="adicionar()">Adicionar ao carrinho</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<div id="contact">
  <section id="contact">
    <div>
      <h1 class="title">Fale conosco</h1>

      <form id="form" enctype="text/plain">
        Email:<br>
        <input type="email" name="email" id="email" required placeholder="Entre com email válido."><br>
        Mensagem:<br>
        <input type="text" name="comment" id="comment" size="80"><br><br>
        <input type="submit" name="submit" value="Submit">
      </form>
    </div>
  </section>
</div>

<div>
  <footer>
    <ul>
      <li><a href="Contato">Contact</a></li>
      <li><a href="Privacidade">Privacy</a></li>
      <li><a href="Feedback">Feedback</a></li>
    </ul>
  </footer>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
