<header>

</header>

<h1>Produtos</h1>

<div *ngFor="let product of products" class="produto" id="products">
  <h3>
    <a [title]="product.name + ' details'">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">{{ product.description }}</p>

  <div>
    <img [src]="product.imagePath">
  </div>


  <button type="button" (click)="adicionar()">Adicionar ao carrinho</button>

  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
</div>

<div id="about">
  <h1>Sobre nós</h1>
  <p class="pAbout">A Iconic Store é uma empresa 100% brasileira que comercializa produtos com a mais alta qualidade
    e com preço justo. Em nosso e-commerce, você encontra produtos das mais variadas marcas,
    nosso portfólio conta com mais de 3 mil itens.
    Trabalhamos com entregas terceirizadas pelos Correios.
    Em caso de roubos ou extravios por parte da empresa citada, nos responsabilizamos pelo ressarcimento.</p>
</div>

<div id="contact">
  <section id="contact">
    <div>
      <h1 class="title">Fale conosco</h1>

      <form id="form" enctype="text/plain">
        Email:<br>
        <input type="email" name="email" id="email" required placeholder="Entre com email válido."><br>
        Mensagem:<br>
        <input type="text" name="comment" id="comment" size="80"><br><br>
        <input type="submit" name="submit" value="Submit">
      </form>
    </div>
  </section>
</div>

<div>
  <footer>
    <div>
      <p>Site desenvolvido por Heloísa Martins</p>
    </div>

    <button (click)="voltarTopo()" class="back-to-top">Voltar ao topo</button>
  </footer>
</div>

<!--
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
