/* Global Styles */

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  align-items: center;
}

/* Text */

h1 {
  font-family: 'Dangrek', cursive;
  font-size: 32px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #dd31ec;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Fancy Button */

.fancy-button {
  background-color: white;
  color: #dd31ec;
}

.fancy-button i.material-icons {
  color: #dd31ec;
  padding-right: 4px;
}

/* Top Bar */

app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #000000;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/*nav-bar*/
nav ul {
  float: right;
  margin-right: 2em;
  color: white;
}

nav li {
  display: inline;
  padding: 1em;
  display: inline-block;
  font-size: 20px;
  font-family: 'Cedarville Cursive', cursive;
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
}


/* Checkout Cart, Shipping Prices */

.cart-item, .shipping-item {
  width: 100%;
  min-width: 400px;
  max-width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 32px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: #EEEEEE;
}


/*Header*/

header {
  margin-top: 0%;
  padding-top: 0%;
  background-image: url(https://images.pexels.com/photos/212236/pexels-photo-212236.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  height: 300px;
  background-size: cover;
}

/*Footer*/

footer {
	background-color: #eed6f5;
	float: right;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 20px;
	width: 100%;
  align-items: center;
}

footer li {
	display: inline;
	display: inline-block;
	padding: 1em;
	align-content: center;
}

/*Produtos*/

.produto {
  align-items: center;
  text-align: center;
}

/*Fale conosco*/

form {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#comment {
	width: 250px;
	height: 80px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/
